/* #table-plain tbody tr,
#table-plain tbody tr:hover,
#table-plain tbody td {
  background-color:transparent !important;
  border:none !important;
} */

#table-revert >table + caption + thead + tbody + tr + th + td{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  } */