  <div class="container">
    <div class="col">
      <button class="btn btn-outline-primary new-button">New</button>
    </div>
  </div>
  <div>
      <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th class="alterMouse" *ngFor="let title of tableTitles" (click)="sort(title.name)" scope="col">{{title.name}}
                <span >
                  <i class="fa fa-angle-up"></i>
                  <i class="fa fa-angle-down"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let o of orders">
              <tr class="text-center" *ngIf="o.customer" (click)="showHide(o.id)">
                <td>{{ o.customer.name }}</td>
                <td>{{ o.order_number }}</td>
                <td>{{ o.pickUpOn }}</td>
                <td>{{ o.price | currency:'USD':'symbol' }}</td>
              </tr>
                <tr *ngIf="o.id === orderToggle.id && orderToggle.bool" >
                  <td colspan="4"> 
                    <div class="container-fluid">
                      <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                          <div class="container text-center">
                            <div class="font-weight-bold">Desserts</div>
                            <div class="text-nowrap" *ngFor="let item of o.items">{{ item.name }}</div>
                          </div>
                        </div>
                        <div class="col-md-auto">
                          <div class="container text-center">
                              <div class="font-weight-bold"> Quantity</div>
                            <div class="text-nowrap" *ngFor="let item of o.items">{{ item.quantity }}</div>
                          </div>
                        </div>
                        <div class="col-md-auto">
                          <div class="container text-center">
                              <div class="font-weight-bold">Date</div>
                            <div class="text-nowrap">{{ o.pickUpOn }}</div>
                          </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="container text-center">
                                <div class="font-weight-bold">Phone</div>
                              <div class="text-nowrap">{{ o.customer.phone }}</div>
                            </div>
                          </div>
                          <div class="col-md-auto">
                              <div class="container text-center">
                                  <div class="font-weight-bold">Address</div>
                                <div class="text-nowrap">{{ o.customer.address }}</div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </td>
                </tr>
            </ng-container>
          </tbody>
        </table>
  </div>
  <div>
    <p></p>
  </div>
  
<!-- implement adding , deleting and editing an order -->
<!-- add sorting to parent tables -->
<!-- align dessert names to left --> 
<!-- add progress bar or spinner when changing between components -->
